@import '/node_modules/line-awesome/dist/line-awesome/css/line-awesome.min.css';

button {
  font: inherit;
  cursor: pointer;
  color: inherit;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  font-weight: 600;
  border: none;
  border-radius: .25rem;
  outline: none;
  padding: .4375rem .6875rem;
  text-decoration: none;
  gap: .5rem;

  &:disabled {
    background-color: $colors-greyscale-200 !important;
    color: white !important;
    cursor: default !important;
  }
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: .25rem;
  cursor: pointer;
  font-weight: 600;
  line-height: 1.5;
  padding: .4375rem .6875rem;
  text-decoration: none;
  gap: .5rem;
}

.app-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.app-content-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 5rem;
  height: auto;
  
  // This min-height should be adjusted if the header/footer heights are changed
  min-height: calc(100vh - 133.5px);

  @media screen and (max-width: 1366px) {
    margin: 0 3rem;
  }

  @media screen
    and (max-width: 768px) {
    margin: 0 1rem; 
  }
}

.standard-icon-size {
  font-size: 1.5rem;
}

.link {
  font-weight: bold;
  text-decoration: none;
  color: $colors-primary-200;
}

.remove-padding {
  padding: 0;
}

// Standard badge color schemas
.badge-submitted {
  color: $colors-success-100;
  background-color: $colors-success-600;
}

.badge-approval {
  color: $colors-warning-100;
  background-color: $colors-warning-600;
}

// Button color schemas
.edit {
  background-color: $colors-primary-200;
  color: white;

  &:hover {
      background-color: $colors-primary-100;
  }
}

.update {
  background-color: $colors-greyscale-200;
  color: white;
}

.cancel {
  color: $colors-primary-200;

  &:hover {
      background-color: $colors-primary-600;
  }
}

.delete {
  color: $colors-error-200;

  &:hover {
      background-color: $colors-error-600;
  }
}

.delete-red-bg {
  background-color: $colors-error-200;
  color: white;

  &:hover {
    background-color: $colors-error-100;
  }
}

.primary-with-border {
  font-weight: 700;
  border: 1px solid $colors-primary-200;
  color:$colors-primary-200;

    &:hover {
      background-color: $colors-primary-600;
    }
}

.required-text {
  color: $colors-error-200;
  font-size: .875rem;
  font-weight: 400;
}