
.app-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.app-content-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 5rem;
  height: auto;
  
  // This min-height should be adjusted if the header/footer heights are changed
  min-height: calc(100vh - 137.5px);
}

.link {
  font-weight: bold;
  text-decoration: none;
  color: $colors-primary-200;
}
