@import './Design\ Tokens/colors';

button,
.button {
    font: inherit;
    cursor: pointer;
    color: inherit;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    font-weight: 600;
    border: none;
    border-radius: .25rem;
    outline: none;
    padding: .4375rem .6875rem;
    text-decoration: none;
    gap: .5rem;
    line-height: 1.5;
}

button:disabled,
.button:disabled {
    background-color: var(--colors-greyscale-200) !important;
    color: var(--colors-greyscale-800) !important;
    cursor: default !important;
}

.app-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.app-content-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 5rem;
    height: auto;

    /* This min-height should be adjusted if the header/footer heights are changed */
    min-height: calc(100vh - 120px);
}

@media screen and (max-width: 1366px) {
    .app-content-container {
        margin: 0 3rem;
    }
}

@media screen and (max-width: 768px) {
    .app-container {
        margin: 0 1rem;
    }
}

.standard-icon-size {
    font-size: 2rem;
}

.link {
    font-weight: bold;
    text-decoration: none;
    color: var(--colors-primary-200);
}

.remove-padding {
    padding: 0;
}

/* Standard badge color schemas */
.badge-submitted {
    color: var(--colors-success-100);
    background-color: var(--colors-success-600);
}

.badge-approval {
    color: var(--colors-warning-100);
    background-color: var(--colors-warning-600);
}

/* Button color schemas */
.edit-btn {
    background-color: var(--colors-primary-200);
    color: var(--colors-greyscale-800);
}

.edit-btn:hover {
    background-color: var(--colors-primary-100);
}

.tertiary-btn {
    color: var(--colors-primary-200);
}

.tertiary-btn:hover {
    color: var(--colors-primary-100);
    background-color: var(--colors-primary-600);
}

.delete {
    color: var(--colors-error-200);
}

.delete:hover {
    background-color: var(--colors-error-600);
}

.delete-red-bg {
    background-color: var(--colors-error-200);
    color: var(--colors-greyscale-800);
}

.delete-red-bg:hover {
    background-color: var(--colors-error-100);
}

.primary-no-border {
    color: var(--colors-primary-200);
}

.primary-no-border:hover {
    color: var(--colors-primary-100);
    background-color: var(--colors-primary-600);
}

.primary-with-border {
    font-weight: 700;
    border: 1px solid var(--colors-primary-200);
    color: var(--colors-primary-200);
}

.primary-with-border:hover {
    background-color: var(--colors-primary-600);
}

.required-text {
    color: var(--colors-error-200);
    font-size: .875rem;
    font-weight: 400;
}