.default-dropdown-button {
      
    &:focus-visible {
        outline: -webkit-focus-ring-color auto 1px;
      }
}

.dropdown-content {
    position: absolute;
    border-radius: .5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px $colors-greyscale-400;
    background-color: $colors-greyscale-800;
    z-index: 2;

    .dropdown-content-list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0.5rem 0;
    }

    .user-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem;

        .user-info-top {
            display: flex;
            flex-direction: column;
            align-items: center;
            
            .user-icon-backing {
                width: 19.875rem;
                height: 4.625rem;
                margin: 0 0 2.188rem;
                border-radius: 8px;
                background-color: $colors-primary-600;
            }

            .in-dropdown { 
                font-size: 2.25rem;
                position: absolute;
                left: 9.3rem;
                top: 3.7rem;
                background-color: $colors-secondary-200;
                cursor: default;
                border: none;
            }
        }

        .user-info-bottom { 
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: 16px;
            width: 100%;
        }

        .user-name {
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 1.25;

            .edit-icon-wrapper {

                &:focus-visible {
                    outline: -webkit-focus-ring-color auto 1px;
                }
                
                .edit-icon {
                    margin-left: .5rem;
                    padding: .4375rem .6875rem;
                    border-radius: .25rem;
                    color: $colors-primary-200;
                    cursor: pointer;
    
                    &:hover {
                        background-color: $colors-primary-600;
                    }
                }
            }

        }
    }


    .dropdown-links {
        width: 100%;
        border-radius: .5rem;
        background-color: $colors-greyscale-800;

        &:focus-visible {
            outline: -webkit-focus-ring-color auto 1px;
        }

        &:hover {
            background-color: $colors-greyscale-600;
        }
    }
  }

.profile-modal-wrapper {
    width: 38.125rem;

    .profile-modal-body {
        display: flex;
        flex-direction: column;
        min-height: 13rem;

        .password-wrapper {
            border: 1px solid $colors-greyscale-400;
            border-radius: .25rem;
            margin-bottom: 1.5rem;
            padding: 1rem;
        }

        .required::after {
            content: '\2A';
            color: red;
            margin-left: .125rem
        }

        label {
            display: flex;
            flex-direction: column;
            margin-bottom: 1.5rem;

            .profile-label {
                font-weight: 700;
                margin-bottom: .5rem;
            }

            .pass-mismatch {
                border-color: $colors-error-100 !important;

                &:focus {
                    box-shadow: 0 0 0 0.25rem rgba(220,53,69,.25) !important;
                    border-color: $colors-error-100 !important;
                }
            }

            input {
                padding: .4375rem 1rem;
                line-height: 1.5;
                border-radius: .25rem;
                border: 1px solid $colors-greyscale-400;
                font-weight: 400;

                &:hover {
                    border: 1px solid $colors-primary-200;
                }

                &:focus {
                    border: 1px solid $colors-primary-200;
                    box-shadow: 0 0 0 0.25rem rgba(63,70,214,.16);
                    outline: 0;
                }
            }
        }
    }

    .profile-modal-footer {
        display: flex;
        justify-content: flex-end;
        border-top: 1px solid #f36c23;
        margin-top: 1.75rem;
        padding: 1.75rem 0 0;
        gap: .5rem;
    }
}

.help-menu {
    top: 5.5rem;
    right: 10rem;
    width: 18rem;

    @media screen
        and (max-width: 768px) {
            right: 5rem;
    }
}

.profile-menu {    
    top: 5.5rem;
    right: 5rem;

    @media screen
        and (max-width: 768px) {
            right: 1rem;
    }
}
