.dropdown-content {
    position: absolute;
    top: 6.5rem;
    right: 2.5rem;
    border: 2px solid #d85900;
    border-radius: .25rem;
    transition: right .5s ease-in-out .1s;

.dropdown-content-list {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

    .user-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: .5rem 1rem 0rem 1rem;

        .user-name {
            font-size: larger;
            font-weight: 800;
        }
    }

    .user-info-seperator {
        width: 80%;
        border-color: #d85900;
    }
  }

  .open {
    right: -20rem !important;
  }

  .content-spacing {
    padding-bottom: .5rem;
  }