.header-containter {  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.875rem 5rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background-color: $colors-greyscale-800;

  @media screen
    and (max-width: 768px) {
      padding: 0.875rem 1.25rem;
  }

  .submission-link {
    text-decoration: none;
    color: $colors-greyscale-100;  
    gap: .25rem;
    padding: 0.5rem 0.75rem;
    border-radius: .25rem;
    
    &:hover {
      background-color: $colors-primary-600;
    }
  }

  .signout-button {
    font-weight: bold;
    line-height: 1.5;
    color: $colors-primary-200;
    text-decoration: none;

    &:hover {
      color: $colors-primary-100;
      background-color: $colors-primary-600;
    }
  }

  .help-link {
    font-size: 1.407rem;
    gap: .25rem;
    padding: 0.5rem 0.75rem;
    border-radius: .25rem;
    
    &:hover {
      cursor: pointer;
      background-color: $colors-primary-600;
    }
  }

  .header-logged-in {  
    flex-grow: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2.5rem;
    padding: 0;
  }
    
  .header-dropdown-profile {
    background-color: $colors-secondary-200;
    color: $colors-greyscale-800;
    border-radius: 3.125rem;
    margin: 0.063rem 0 0.063rem 0;
    padding: 0.375rem;
    border: solid .125rem $colors-secondary-400;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;

    &:hover {
      cursor: pointer;
      background-color: $colors-secondary-100;
    }
  }

  .nav-items {
      display: flex;
      flex-direction: row;
      width: 100%;
      margin-left: 1rem;
      margin-right: 1rem;
      align-items: center;
      justify-content: space-between;
  }

  .console-icon-spacing {
    margin-left: 0.33rem;
  }
}

.profile-menu-links {
  display: flex;
  flex-direction: column;
}

.external-header-dropdown-link {
  display: flex;
  justify-content: space-between;
  color: $colors-greyscale-100;
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin: .25rem .125rem;
}

.search-box {
  background: $colors-greyscale-800;
  height: 2.5rem;
  border: .125rem solid $colors-greyscale-800;
  border-radius: 2.5rem;
  padding: .625rem;

  &:hover {
    border: .125rem solid $colors-greyscale-100;
  }
}
  
.search-box:hover > .search-text{
  width: 40vw;
  padding: 0 .375rem;
  color: $colors-greyscale-100;
}

.search-box:hover > .search-btn{
  color: $colors-greyscale-800;
  background: $colors-greyscale-100
}
  
.search-btn {
  color: $colors-greyscale-100;
  float: right;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  cursor: pointer;
  text-decoration: none; 
}

.search-btn > i {
  font-size: 1.407rem;
}
  
.search-text {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: $colors-greyscale-800;
  font-size: 1rem;
  font-weight: normal;
  transition: 0.4s;
  line-height: 2.5rem;
  width: 0;
}

.footer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid .125rem $colors-secondary-200;
  padding: 0.75rem 0;
  background-color: $colors-greyscale-100;

  .kd-logo {
    height: 1.25rem;
  }
}

.help-menu-btn {
  padding: .25rem;

  &:hover {
    background-color: $colors-primary-600;
  }
}

.cm-form-loading {
  height: 30rem;
  width: 50rem;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(.125rem);
}