.header-containter {  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.875rem 6.25rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    background-color: $light-widget-bg-color;

    .submission-link {
      text-decoration: none;
      color: $light-app-font-color;  
      gap: 4px;
      padding: 0.5rem 0.75rem;
      border-radius: 4px;
      
      &:hover {
        background-color: $colors-primary-600;
      }
    }

    .help-link {
      font-size: 1.407rem;
      gap: 4px;
      padding: 0.5rem 0.75rem;
      border-radius: 4px;
      
      &:hover {
        cursor: pointer;
        background-color: $colors-primary-600;
      }
    }

    .header-logged-in {  
      flex-grow: 0;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 40px;
      padding: 0;
    }

    .header-logo-link {
        max-height: 60px;
        padding-left: 1rem;
      }
    
    .header-dropdown-profile {
      background-color: $colors-secondary-200;
      color: white;
      border-radius: 50px;
      margin: 0.063rem 0 0.063rem 0;
      padding: 0.375rem;
      border: solid 2px $colors-secondary-400;
      min-width: 1.25rem;
      min-height: 1.25rem;
      display: flex;
      justify-content: center;

      &:hover {
        cursor: pointer;
        background-color: $colors-secondary-100;
      }
    }

    .nav-items {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-left: 1rem;
        margin-right: 1rem;
        align-items: center;
        justify-content: space-between;
    }

    .console-icon-spacing {
      margin-left: 0.33rem;
    }
}

.profile-menu-links {
    display: flex;
    flex-direction: column;
  }

  .external-header-dropdown-link {
    display: flex;
    justify-content: space-between;
    color: $light-app-font-color;
    text-decoration: none;
    padding: 0.5rem 1rem;
  }

.search-box {
    background: $light-widget-bg-color;
    height: 2.5rem;
    border: 2px solid $light-widget-bg-color;
    border-radius: 2.5rem;
    padding: .625rem;

    &:hover {
      border: .125rem solid $light-app-font-color;
    }
  }
  
  .search-box:hover > .search-text{
    width: 40vw;
    padding: 0 .375rem;
    color: $light-app-font-color;
  }
  
  .search-box:hover > .search-btn{
    color: white;
    background: $light-app-font-color
  }
  
  .search-btn {
    color: $light-app-font-color;
    float: right;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    cursor: pointer;
    text-decoration: none;
    
  }
  .search-btn > i {
    font-size: 1.407rem;
  }
  
  .search-text {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 1rem;
    font-weight: normal;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
  }

  .footer-wrapper {
    display: flex;
    justify-content: space-around;
    left: 0;
    bottom: 0;
    border-bottom: solid 2px $colors-secondary-200;
    padding: 0.5rem;
    background-color: $colors-greyscale-100;

    .kd-logo {
      height: 1.25rem;  
      padding: 0.273rem 0.226rem 0.219rem 0.238rem;
    }
  }
