:root {
  // Base styling to the entire application
  font-family: $font-family;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;  
  flex-grow: 0;
  
  color: $light-app-font-color;
  background-color: $light-app-bg-color;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  color-scheme: light dark;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {    
  height: auto;
  width: 100vw;
  // id root at index.html. Doesn't need to be 
  // used but noted here in case a need arrises 
}

body {
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 720px;
  max-width: 100%;
  max-height: 100%;
  margin: 0px !important;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
    margin: 0;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}