// Break Points:
// Desktop: > 1366
// Vertical iPad: < 1366
// Mobile: < 768

:root {
  // Base styling to the entire application
  font-family: $font-family;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;  
  flex-grow: 0;
  
  color: $colors-greyscale-100;
  background-color: $colors-greyscale-600;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  color-scheme: light;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  @media screen
    and (min-width: 1024px)
    and (max-width: 1366px) {
        width: 100%;
    }
}

#root {    
  height: auto;
  width: 100vw;
  // id root at index.html. Doesn't need to be 
  // used but noted here in case a need arrises 
}

body {
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 720px;
  max-width: 100%;
  max-height: 100%;
  margin: 0px !important;

  @media screen
    and (max-width: 768px) {
      min-width: auto;
  }
}

button {
  cursor: pointer;
}

@media (prefers-color-scheme: light) {
  :root {
    color: $colors-greyscale-100;
    background-color: white;
    margin: 0;
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: .75rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}