.kapps-list-page-wrapper {
    width: 100%;
    margin-bottom: 1rem;

    .kapp-cards-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(calc(25% - 2rem), 1fr));
        grid-gap: 2rem;

        .kapp-card { 
            display: flex;
            border-radius: 0.75rem;
            box-shadow: 0 0.125rem 0.25rem -1px rgba(0, 0, 0, 0.06), 0 0.25rem 0.375rem -1px rgba(0, 0, 0, 0.1);
            border: solid 0.125rem #ced0d2;
            background-color: #fff;
            height: 11rem;

            @media only screen 
                and (max-width: 1366px) {
                    max-width: none;
                    flex-grow: 1;
                    aspect-ratio: auto;
            }

            &:hover {
                cursor: pointer; 
                box-shadow: 0 .125rem .25rem -1px rgba(0, 0, 0, 0.06), 0 .25rem .375rem -1px rgba(0, 0, 0, 0.1);
                border: solid .125rem $colors-primary-200;
                background-color: $colors-primary-600;
            }
        }
    }
}

.form-landing-subtext {
    font-size: medium;
    color: $colors-greyscale-200;
    font-weight: 400;
}

.support-docs-link {  
    display: flex;
    align-items: center;
    margin-left: 1rem;

    @media screen
        and (max-width: 768px) {
            text-align: right;
    }

    .link-spacing {
        margin-right: .5rem;
    }
}

.with-activities-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    
}

.form-page-wrapper {  
    margin-bottom: 3rem;
    border-radius: .75rem;
    box-shadow: 0 .25rem .375rem -.125rem rgba(0, 0, 0, 0.05), 0 .625rem 1rem -3px rgba(0, 0, 0, 0.1);
    border: solid 1px $colors-greyscale-400;
    background-color: $colors-greyscale-800;
}

.add-flex-3 {
    flex: 2;
}

.activities-list-wrapper {
    flex: 1;
    max-height: 75vh;
    overflow-y: auto;
    margin-bottom: 3rem;
    border-radius: .75rem;
    box-shadow: 0 .25rem .375rem -.125rem rgba(0, 0, 0, 0.05), 0 .625rem 1rem -3px rgba(0, 0, 0, 0.1);
    border: solid 1px $colors-greyscale-400;
    background-color: $colors-greyscale-800;
}

.landing-page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.login-wrapper {
    display: flex;
    text-align: center;
    height: 100vh;
    justify-content: center;
    align-items: center;

    .login-button {
        margin-top: 1rem;
    }
}

.submission-information {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    .left-space {
        margin-left: .5rem;
    }

    .spacer {
        margin-right: 1rem;;

        &:first-child {
            display: flex;
            align-items: center;
        }
    }
}

.with-border {
    border-top: .125rem solid $colors-greyscale-600;
}

.submissions-footer-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem 2.4rem 1.25rem 2.4rem;
    max-height: 2rem;

    .update {
        cursor: default;
        margin-right: 1.25rem;

        i {    
            font-size: 1.5rem;
            margin-right: .75rem;
            }
    }

    .with-icon {
        display: flex;
        align-items: center;
        text-decoration: none;
    }

}

.submission-link {
    display: flex;
    align-items: center;
}

.edit-icon-spacing {
    margin-left: .5rem;
}

.file-link-wrapper {
    display: flex;

    .file-link {
        font-weight: bold;
        text-decoration: none;
    }

    .file-size {
        margin-left: .5rem;
        color: $colors-greyscale-200;
    }
}

.modal-header {
    font-size: 1.25rem;
    line-height: 1.25;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.modal-buttons-wrapper {
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    border-top: 1px solid $colors-secondary-200;
}

// State classNames
.state {  
    border-radius: .25rem;
    width: fit-content;
    padding: .25rem .75rem;
}

.draft {
    background-color: $colors-warning-600;
    color: $colors-warning-100;
}

.closed {
    background-color: $colors-success-600;
    color: $colors-success-100;
}

.submitted {
    background-color: $colors-primary-600;
    color: $colors-greyscale-100;
}