.breadcrumb-wrapper {
    width: 100%;
    margin: 0.5rem 0 0;

    .breadcrumb-crumb::after {
        padding: 8px;
        content: "\203A";
    }

    .breadcrumb-crumb:last-child::after {
        content: '';
    }

    .breadcrumb-crumb:last-child {
        text-decoration: none;
        color: $colors-greyscale-200;
        cursor: default;
    }
}

.page-title-wrapper {
    display: flex;
    justify-content: space-between;    
    margin: .625rem 0 .625rem 0;

    .page-title {
        font-size: 2rem;
        font-weight: bold;
        
        .page-subtext {
            font-size: .75rem;
            margin-left: 1rem;
            font-weight: normal;
        }
    }

}

.kinetic-card-wrapper {
    border: solid 1px #d85900;
    text-decoration: none;

    .kinetic-card-content {
        margin: 1rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: $colors-greyscale-100;
        

        .kinetic-card-icon {
            font-size: 2.25rem;
        }

        .kinetic-card-title {
            font-size: 1.5rem;
            font-weight: bold;
            display: flex;
            flex-wrap: wrap;
        }

        .kinetic-card-subtext {    
            font-size: 1rem;
            font-style: italic;
        }
    }

}

.isMobile {
    margin-bottom: 1rem !important;
}

.mobile-pagination-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    max-height: 2rem;
    line-height: 1.5;
    font-size: 1.25rem;
    margin-bottom: 6rem;

    .mobile-pagination-options-dropdown {
        border: 1px solid $colors-greyscale-200;
        border-radius: .375rem;
        padding: 0 .75rem;

        .table-dropdown-face .table-dropdown-content .arrow-size {
            font-size: 1.35rem;
            color: $colors-greyscale-200;
            margin-left: 1rem;
        }

        .mobile-pagination-dropdown { 
            padding: 0 .85rem;
        }
    }
}

.table-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 12px;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.06), 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    border: solid 1px $colors-greyscale-400;
    background-color: $colors-greyscale-800;
    margin-bottom: 4rem;
    overflow-x: auto;

    .show-pagination {
        margin: 1rem 0 0 !important;
    }

    .table {
        width: 100%;
        margin: 1rem 0;
        border-spacing: 0;
        border-collapse: collapse;

        @media screen
            and (max-width: 1366px) {
                font-size: 1.125rem;
                width: max-content;
                min-width: 100%;
        }
        
        .table-header {
    
            .table-header-row {  
                height: 3.5rem;
                text-align: left;
                background-color: $colors-greyscale-600;

                .table-header-item {
                    padding-left: 2.5rem;

                    @media screen
                        and (min-width: 1024px)
                        and (max-width: 1366px) {
                            padding: .375rem 0 .375rem 1.5rem;
                    }

                    .sort-icon {
                        padding-left: 1rem;
                    }
                }
                
                .sortable {

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }

        .table-body {

            .table-row {
                height: 3.5rem;
                border-bottom: 2px solid $colors-greyscale-600;

                &:last-child {
                    border-bottom: none;
                }

                .table-row-item {
                    padding-left: 2.5rem;           

                    @media screen
                        and (min-width: 1024px)
                        and (max-width: 1366px) {
                            padding: .375rem 0 .375rem 1.5rem;
                            max-width: 25rem;
                    }

                    &:last-child {
                        padding-right: 2.5rem;
                    }
                }
            }
        }
    }

    .pagination-wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 2.5rem;
        padding: 1.25rem 2.4rem 1.25rem 0;
        border-top: 2px solid $colors-greyscale-600;
        max-height: 2rem;

        @media screen
            and (max-width: 768px) {
              width: max-content;
              padding-left: 1rem;  
        }

        .arrow-size {
            font-size: 1.35rem;
            color: $colors-greyscale-200;
        }

        .clickable {
            color: $colors-primary-200;

            &:hover {
                cursor: pointer;
            }
        }

        .table-dropdown-face {  
            width: 5.75rem;
            display: flex;
            justify-content: flex-end;
            border-radius: 4px;
            border: solid 1px $colors-greyscale-400;

            &:hover {
                cursor: pointer;
            }

            .table-dropdown-content {
                display: flex;
                justify-content: space-between;
                width: 100%;
                margin: 0.25rem 1rem;
            }
        }

        .pagination-options-dropdown {
            width: 5.75rem;

            .pagination-options {
                margin-bottom: .25rem ;
                font-weight: 400;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

}

.modal-background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,.5);
    
    .kinetic-modal-wrapper {
        box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
        background-color: white;
        border: 2px solid rgb(240, 240, 240);
        border-radius: .3rem;
        position: absolute;
        top: 5%;
        left: 50%;
        transform: translate(-50%, 0%);
        padding: 2rem;

        .profile-modal-wrapper {
            @media screen and (max-width: 430px) {
                width: auto;
            }

            .profile-modal-wrapper {
                @media screen and (max-width: 430px) {
                    width: auto;
                }

                .profile-modal-header, .profile-modal-body, .profile-modal-footer {
                    @media screen and (max-width: 430px) {
                        width: auto;
                    }
                }
            }
        }

        @media screen
            and (max-width: 430px) {
                padding: 1rem;
                width: auto;
                height: auto;
                position: unset;
                transform: translate(0%, 0%);
        }
    }
}

