.kapps-list-page-wrapper {
    width: 100%;

    .kapp-cards-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 2rem;

        .kapp-card {
            width: 280px;
            aspect-ratio: 16/9;
            display: flex;
            border-radius: 12px;
            box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.06), 0 4px 6px -1px rgba(0, 0, 0, 0.1);
            border: solid 2px $colors-greyscale-400;
            background-color: $colors-greyscale-800;

            &:hover {
                cursor: pointer; 
                box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.06), 0 4px 6px -1px rgba(0, 0, 0, 0.1);
                border: solid 2px $colors-primary-200;
                background-color: $colors-primary-600;
            }
        }
    }

    .support-docs-link {  
        display: flex;
        align-items: center;
        margin-left: 1rem;

        .link-spacing {
            margin-right: .5rem;
        }
    }
}

.form-page-wrapper {  
    margin-bottom: 3rem;
    border-radius: 12px;
    box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.05), 0 10px 15px -3px rgba(0, 0, 0, 0.1);
    border: solid 1px $colors-greyscale-400;
    background-color: $colors-greyscale-800;
}

.landing-page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.login-wrapper {
    display: flex;
    text-align: center;
    height: 100vh;
    justify-content: center;
    align-items: center;

    .login-button {
        margin-top: 1rem;
    }
}