.breadcrumb-wrapper {
    width: 100%;
    margin: 0.5rem 0;

    .breadcrumb-crumb::after {
        padding: 8px;
        color: white;
        content: "\203A";

    }

    .breadcrumb-crumb:last-child::after {
        content: '';
    }

    .breadcrumb-crumb:last-child {
        text-decoration: none;
        color: white;
        cursor: default;
    }
}

.page-title-wrapper {
    display: flex;
    justify-content: space-between;    
    margin: 1.5rem 0 1.5rem 0;

    .page-title {
        font-size: 2rem;
        font-weight: bold;
    }

    .page-subtext {
        font-size: .75rem;
        font-style: italic;
        margin-left: 1rem;
    }
}

.kinetic-card-wrapper {
    border: solid 1px #d85900;
    text-decoration: none;

    .kinetic-card-content {
        margin: 1rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: $colors-greyscale-100;
        

        .kinetic-card-icon {
            font-size: 2.25rem;
        }

        .kinetic-card-title {
            font-size: 1.5rem;
            font-weight: bold;
            display: flex;
            flex-wrap: wrap;
        }

        .kinetic-card-subtext {    
            font-size: 1rem;
            font-style: italic;
        }
    }

}
