.breadcrumb-wrapper {
    width: 100%;
    margin: 1rem 0 .75rem;
    display: flex;
    align-items: center;

    .breadcrumb-crumb {
        padding: .25rem .75rem;

        &:hover {
            color: $colors-primary-100;
            background-color: $colors-primary-600;
            text-decoration: underline;
        }
    }
        
    .crumb-divider {
        color: $colors-greyscale-200;
        font-size: 1.25rem;
    }

    .breadcrumb-crumb:first-child {
        padding-left: 0rem;
    }
}

.page-title-wrapper {
    display: flex;
    justify-content: space-between;    
    margin-bottom: 1.75rem;

    .page-title {
        font-size: 2rem;
        font-weight: 800;
        
        .page-subtext {
            font-size: .75rem;
            margin-left: 1rem;
            font-weight: normal;
        }
    }

}

.kinetic-card-wrapper {
    border: solid 1px $colors-secondary-200;
    text-decoration: none;

    .kinetic-card-content {
        margin: 1rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: $colors-greyscale-100;
        

        .kinetic-card-icon {
            font-size: 2.25rem;
        }

        .kinetic-card-title {
            font-size: 1.5rem;
            font-weight: bold;
            display: flex;
            flex-wrap: wrap;
        }

        .kinetic-card-subtext {    
            font-size: 1rem;
            font-style: italic;
        }
    }

}

.isMobile {
    margin-bottom: 1rem !important;
}

.mobile-pagination-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    max-height: 2rem;
    line-height: 1.5;
    font-size: 1.25rem;
    margin-bottom: 6rem;

    .arrow-size {
        font-size: 1.35rem;
        color: $colors-greyscale-400 !important;
        background-color: transparent !important;
    }

    .clickable {
        color: $colors-primary-200 !important;

        &:hover {
            cursor: pointer;
        }
    }

    .mobile-pagination-options-dropdown {
        border: 1px solid $colors-greyscale-200;
        border-radius: .375rem;
        padding: 0 .75rem;

        .table-dropdown-face .table-dropdown-content .arrow-size {
            font-size: 1.35rem;
            color: $colors-greyscale-200;
            margin-left: 1rem;
        }

        .mobile-pagination-dropdown { 
            padding: 0 .85rem;
        }
    }
}

.table-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: .75rem;
    box-shadow: 0 .125rem .25rem -1px rgba(0, 0, 0, 0.06), 0 .25rem .375rem -1px rgba(0, 0, 0, 0.1);
    border: solid 1px $colors-greyscale-400;
    background-color: $colors-greyscale-800;
    margin-bottom: 4rem;
    overflow-x: auto;

    .show-pagination {
        margin: 1rem 0 0 !important;
    }

    .table {
        width: 100%;
        margin: 1rem 0;
        border-spacing: 0;
        border-collapse: collapse;

        @media screen
            and (max-width: 1366px) {
                font-size: 1.125rem;
                width: max-content;
                min-width: 100%;
        }
        
        .table-header {
    
            .table-header-row {  
                height: 3.5rem;
                text-align: left;
                background-color: $colors-greyscale-600;

                .table-header-item {
                    padding-left: 2.5rem;

                    @media screen
                        and (min-width: 1024px)
                        and (max-width: 1366px) {
                            padding: .375rem 0 .375rem 1.5rem;
                    }

                    .sort-icon {
                        padding-left: 1rem;
                    }
                }
                
                .sortable {

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }

        .table-body {

            .table-row {
                height: 3.5rem;
                border-bottom: .125rem solid $colors-greyscale-600;

                &:last-child {
                    border-bottom: none;
                }

                .table-row-item {
                    padding-left: 2.5rem;           

                    @media screen
                        and (min-width: 1024px)
                        and (max-width: 1366px) {
                            padding: .375rem 0 .375rem 1.5rem;
                            max-width: 25rem;
                    }

                    &:last-child {
                        padding-right: 2.5rem;
                    }
                }
            }
        }
    }

    .pagination-wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 2.5rem;
        padding: 1.25rem 2.4rem 1.25rem 0;
        border-top: .125rem solid $colors-greyscale-600;
        max-height: 2rem;

        @media screen
            and (max-width: 768px) {
              width: max-content;
              padding-left: 1rem;  
        }

        .arrow-size {
            font-size: 1.35rem;
            color: $colors-greyscale-400 !important;
            background-color: transparent !important;
        }

        .clickable {
            color: $colors-primary-200 !important;

            &:hover {
                cursor: pointer;
            }
        }

        .table-dropdown-face {  
            width: 5.75rem;
            display: flex;
            border-radius: .25rem;
            border: solid 1px $colors-greyscale-400;

            &:hover {
                cursor: pointer;
            }

            .table-dropdown-content {
                display: flex;
                justify-content: space-between;
                width: 100%;
            }
        }

        .pagination-options-dropdown {
            width: 5.75rem;

            .pagination-options {
                width: 100%;
                margin-bottom: .25rem ;
                font-weight: 400;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

}

.modal-background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    background-color: $modal-background-opacity;
    
    .kinetic-modal-wrapper {
        box-shadow: rgba(100, 100, 111, 0.3) 0px .5rem 1.75rem 0px;
        background-color: $colors-greyscale-800;
        border: .125rem solid rgb(240, 240, 240);
        border-radius: .3rem;
        position: absolute;
        top: 5%;
        left: 50%;
        transform: translate(-50%, 0%);
        padding: 2rem;

        .modal-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            line-height: 1.25;
            font-size: 1.5rem;
            font-weight: 600;
            border-bottom: 1px solid $colors-secondary-200;
            margin-bottom: 1.75rem;
        }
        

        .profile-modal-wrapper {
            @media screen and (max-width: 430px) {
                width: auto;
            }

            .profile-modal-wrapper {
                @media screen and (max-width: 430px) {
                    width: auto;
                }

                .profile-modal-body, .profile-modal-footer {
                    @media screen and (max-width: 430px) {
                        width: auto;
                    }
                }
            }
        }

        @media screen
            and (max-width: 430px) {
                padding: 1rem;
                width: auto;
                height: auto;
                position: unset;
                transform: translate(0%, 0%);
        }
    }
}

.error-page-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
}

.activities-list {    
    margin: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .activities-title {
        font-size: 1.5rem;
        font-weight: 800;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: left;
        color: $colors-greyscale-100;
        margin-bottom: 1rem;
    }

    .activity-card-wrapper {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        padding: 0.75rem;
        border-radius: .25rem;
        background-color: $colors-greyscale-600;

        .space-between-row {
            display: flex;
            justify-content: space-between;
            width: 100%;

            .activity-title {    
                font-size: 1.25rem;
                font-weight: 600;
            }

            .activity-type {  
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                gap: .25rem;
                padding: 0.25rem 0.5rem;
                border-radius: .25rem;
                font-size: 0.875rem;
                font-weight: 600;
                line-height: 1.14;
            }
        }

        .activity-date { 
            display: flex; 
            
            .activity-date-title {
                font-size: 1rem;
                font-weight: bold;
                line-height: 1.5;
                margin-right: .25rem;
            }
        }
    }
}
