# ignore everything that isn't in the `src` directory of a package
/*
!/packages
/packages/*/*
!/packages/*/src
!/libs
/libs/*/*
!/libs/*/src
!/apps
/apps/*/*
!/apps/*/src


# ignore file types that prettier does not support
*.png
*.jpg
*.snap
*.svg
