/**
 * Variables - App
 *
 * This bundle uses Bootstrap styling, with some defaults overwritten by the
 * common package.
 *
 * The commented out variables below show some of the common variables you may
 * want to overwrite, along with their initial default values.
 *
 * You can also override any other variables defined by Bootstrap found here:
 *   https://github.com/twbs/bootstrap/blob/main/scss/_variables.scss
 *
 * You may overwrite any existing variables, or add new ones.
 ******************************************************************************/

/** Modularscale Font Sizing **************************************************/
// $modularscale: (
//   768px: (
//     base: 14px,
//     ratio: 1.125,
//   ),
//   1200px: (
//     base: 16px,
//     ratio: 1.125,
//   ),
// );

/** Color system **************************************************************/

/**-- Grays ------------------------------------------------------------------*/
// $white:     rgb(255, 255, 255);  // #ffffff
// $gray-100:  rgb(246, 247, 248);  // #f6f7f8 ($gray3)
// $gray-200:  rgb(237, 238, 239);  // #edeeef ($gray8)
// $gray-300:  rgb(228, 229, 230);  // #e4e5e6 ($gray10)
// $gray-400:  rgb(212, 213, 214);  // #d4d5d6 ($gray16)
// $gray-500:  rgb(178, 179, 181);  // #b2b3b5 ($gray30)
// $gray-600:  rgb(109, 111, 113);  // #6d6f71 ($gray50/60)
// $gray-700:  rgb(79, 80, 81);     // #4f5051 ($gray70)
// $gray-800:  rgb(54, 55, 56);     // #363738 ($gray80)
// $gray-900:  rgb(27, 28, 29);     // #1B1C1D ($gray90)
// $black:     rgb(0, 0, 0);        // #000000

/**-- Theme Colors -----------------------------------------------------------*/
// $primary:    $blue-lake; // #095482
// $secondary:  $orange-kinops; // #f36c24
// $tertiary:   $blue-gray; // #a8b7c7
// $success:    $green; // #1b8663
// $info:       $blue; // #1474e5
// $warning:    $sunflower; // #ffcf4a
// $danger:     $red; // #cf4520
// $light:      $gray-100;
// $subtle:     $gray-400;
// $dark:       $gray-800;

/**-- Complement Variables -----------------------------------------------------
 * The default bootstrap color-yiq function has been overriden to use color
 * contrast based on luminance instead of the yiq color space, to support
 * sufficient a11y contrast. You may disable the overriden function below.
 *----------------------------------------------------------------------------*/
// $enable-yiq-a11y-override:  true;
// Contrast threshold for picking light vs dark text colors
// $a11y-contrast-threshold:   4.5;
// Color of text on light backgrounds
// $yiq-text-dark:             $gray-900;
// Color of text on dark backgrounds
// $yiq-text-light:            $white;

/** Body **********************************************************************/
// $body-bg:      $gray-100;
// $body-color:   $gray-900;
// $focus-color:  rgba($orange-kinops, 0.25);

/** Links *********************************************************************/
// $link-color:             $blue-lake;
// $link-decoration:        none;
// $link-hover-color:       darken($link-color, 15%);
// $link-hover-decoration:  underline;

/** Spacing *******************************************************************/
// $spacer:             1rem;
// $grid-gutter-width:  $spacer * 1.5;

/** Components ****************************************************************/
// $component-active-color:  $gray-900;
// $component-active-bg:     $gray-100;
// $border-color:            $gray-400;
// $border-radius:           0.25rem;
// $border-radius-lg:        0.375rem;
// $border-radius-sm:        0.1875rem;

/** Header ********************************************************************/
// $header-bg:            $white;
// $header-color:         $gray-900;
// $header-hover-color:   $primary;
// $header-border-color:  $border-color;
// $header-badge-bg:      $orange-kinops;
// $header-badge-color:   color-yiq($orange-kinops);

/** Typography ****************************************************************/
// $font-family-sans-serif:  'Open Sans', sans-serif;
// $font-family-monospace:   Menlo, Monaco, Consolas, 'Courier New', monospace;
// $font-family-base:        $font-family-sans-serif;

// $font-size-base:  1rem;
// $font-size-lg:    $font-size-base * 1.25;
// $font-size-sm:    $font-size-base * .875;

// $line-height-base:  1.5;
// $line-height-lg:    1.5;
// $line-height-sm:    1.5;

// $h1-font-size:  $font-size-base * 2;
// $h2-font-size:  $font-size-base * 1.75;
// $h3-font-size:  $font-size-base * 1.5625;
// $h4-font-size:  $font-size-base * 1.375;
// $h5-font-size:  $font-size-base * 1.25;
// $h6-font-size:  $font-size-base * 1.125;

// $headings-margin-bottom:  1rem;
// $headings-font-weight:    600;

/** Buttons *******************************************************************/
// $input-btn-padding-y:  0.40625rem;
// $input-btn-padding-x:  0.75rem;
// $input-btn-font-size:  0.875rem;

// $input-btn-padding-y-sm:  0.125rem;
// $input-btn-padding-x-sm:  0.5rem;
// $input-btn-font-size-sm:  0.75rem;

/** Tooltips ******************************************************************/
// $tooltip-font-size:  $font-size-base * .75;

/** Tables ********************************************************************/
// $table-cell-padding:     0.5rem;
// $table-cell-padding-sm:  0.25rem;

/** Nav ***********************************************************************/
// $nav-tabs-link-border-width:         2px;
// $nav-tabs-link-hover-border-color:   transparent;
// $nav-tabs-link-active-color:         $primary;
// $nav-tabs-link-active-bg:            transparent;
// $nav-tabs-link-active-border-color:  transparent transparent $secondary;

/** Forms *********************************************************************/
// $label-margin-bottom:      0.1875rem;
// $input-placeholder-color:  $gray-500;

// $form-padding:        1rem;
// $form-bg:             $white;
// $form-bg-light:       $gray-100;
// $form-border:         1px solid $border-color;
// $form-border-radius:  $border-radius * 1.5;

/** Alerts ********************************************************************/
// $alert-bg-level:          -11;
// $alert-border-level:      -9;
// $alert-color-level:       7;
// $alert-bar-bg-level:      -11;
// $alert-bar-border-level:  0;
// $alert-bar-color-level:   7;

/** Badges ********************************************************************/
// $badge-muted-bg-level:     -10;
// $badge-muted-color-level:  8;

/** Code **********************************************************************/
// $code-color:  rgb(88, 110, 117);

/** Cards *********************************************************************/
// $card-border-width:     0;
// $card-bg:               $white;
// $card-spacing:          1.25rem;
// $card-content-padding:  1rem;
// $card-bar-color:        $primary;
// $card-bar-sizes: (
//   xs: 0.75rem,
//   sm: 1.25rem,
//   md: 2rem,
//   lg: 2.75rem,
// );
// $card-bar-icon-sizes: (
//   xs: 1.125rem,
//   sm: 1.75rem,
//   md: 2.5rem,
//   lg: 3.5rem,
// );

/** Hero **********************************************************************/
// $hero-bg:                     darken($primary, 10%);
// $hero-color:                  color-yiq($hero-bg);
// $hero-overlay:                rgba($hero-bg, 0.9);
// $hero-meta-color:             rgba($hero-color, 0.75);
