/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Profile ~ kinops
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.profile-menu {
  margin-top: 0.5625rem;
  padding: 1rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border: none;
  box-shadow: 0 0.25rem 1.25rem rgba(0, 0, 0, 0.25);
  color: $gray-700;
  background-color: $white;

  a {
    color: $blue-lake;
    text-decoration: none;
  }
  .profile-header {
    padding: 0.25rem 0.5rem;
    .name {
      font-weight: 600;
      color: $gray-800;
    }
    .email {
      color: $gray-600;
    }
  }
  .profile-links {
    a,
    button {
      border-radius: $border-radius;
      color: $gray-700;
      padding: 0.5rem;
      font-size: 0.875rem;
      &:hover {
        background-color: rgba(0, 0, 0, 0.05);
      }
    }
  }
}

.profile-roles-wrapper {
  padding: 0.75rem;
  .profile-role {
    margin-right: 1rem;
  }
}
